.section-clients {
  @include customflex(0, center, center, 0);
  @include linear-gradient($color-primary, $color-primary-light);
  border-bottom: 1px solid $color-white-10;
  width: 100%;
  height: 100%;
  .bx--row {
    @include customflex(0, center, center, 0);
    width: 100%;
    .section-heading {
      color: white;
      text-align: center;
    }
    .clients {
      @include customflex(0, 0, 0, 0);
      width: 100%;
      .client__link {
        flex: 1;
        margin-right: 2rem;
        .client__img-container {
          @include customflex(0, center, center, 0);
          width: 100%;
          height: auto;
          background-color: rgba($color-white, .1);
          padding: 2rem 1.5rem;
          transition: $transition--default;
          .client__logo {
            width: auto;
            height: 4rem;
          }

        }
        &:hover {
          .client__img-container {
            background-color: rgba($color-white, .2);
            transition: $transition--default;
          }

        }
      }
      .client__link:last-child {
        flex: 1;
        margin-right: 0rem;
      }

    }
  }

}

@media (max-width: breakpoint('lg') ) { // 992px
  .section-clients {
    .bx--row {
      .clients {
        @include customflex(0, 0, 0, wrap);
        .client__link {
          flex: 1;
          margin: 1rem;
        }
        .client__link:last-child {
          margin: 1rem;
        }
      }
    }

  }


}

@media (max-width: breakpoint('sm')) { // 768px
  .section-clients {
    .bx--row {
      .clients {
        @include customflex(column, 0, 0, 0);
        .client__link {
          margin: 1rem 0;
        }
        .client__link:last-child {
          margin: 1rem 0;
        }
      }
    }

  }


}
