  .ly--data-table-v2-container + .ly--pagination {
    border-top: 0;
  }

  .ly--pagination {
    @include reset;
    @include body-text;
    width: 100%;
    background-color: $color-white;
    padding: $spacing-xs $spacing-md;
    display: flex;
    align-items: center;
    border: 1px solid $color-white-10;

    .ly--form-item {
      flex: auto;
    }
  }

  .ly--pagination__left {
    display: flex;
    align-items: center;
  }

  .ly--pagination__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .ly--pagination__text {
    @include typescale('p-sm');
    color: $text-02;
    display: none;

    @include breakpoint('530px') {
      display: block;
    }
  }

  .ly--pagination__button-icon {
    height: rem(12px);
    width: rem(12px);
    fill: $color-white-20;
    pointer-events: none;
    transition: $transition--enter__fast;
  }

  .ly--pagination__button {
    @include reset;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      .ly--pagination__button-icon {
        fill: $color-primary;
      }
    }

    &:focus {
      @include focus-outline('border');
    }

    &:disabled:hover {
      cursor: default;

      .ly--pagination__button-icon {
        fill: $color-white-20;
      }
    }
  }

  .ly--pagination__button--backward {
    margin-left: $spacing-md;
    margin-right: $spacing-lg;
  }

  .ly--pagination__button--forward {
    margin-left: $spacing-lg;
  }

  .ly--pagination__button--no-index {
    border-right: 0;
    margin-right: 1px;
  }

  .ly--pagination {
    .ly--select {
      margin-right: $spacing-xs;
    }

    .ly--select--inline {
      margin-right: 0;
      width: rem(48px);
    }

    .ly--select-input {
      height: rem(24px);
      width: rem(54px);
      padding: 0 $spacing-xs;
      margin: 0;
      font-weight: 600;

      &:focus {
        @include focus-outline('border');
      }
    }

    .ly--select__arrow {
      right: 0.5rem;
      top: 0.625rem;
    }

    .ly--text-input {
      height: rem(24px);
      min-width: rem(24px);
      width: rem(24px);
      padding: 0;
      margin: 0;
      font-weight: 600;
      text-align: center;

      &:focus {
        @include focus-outline('border');
      }
    }
  }

  .ly--pagination--inline {
    height: 42px;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    margin-right: -1rem;

    .ly--pagination__button {
      height: 100%;
      border-left: 1px solid $color-white-10;
      border-right: 1px solid $color-white-10;
      width: rem(42px);
      margin: 0;
    }

    .ly--pagination__button--forward {
      border-right: 0;
    }

    .ly--pagination__button--backward {
      margin-left: $spacing-md;
    }

    .ly--select--inline {
      position: relative;
      top: -1.5px;
    }

    .ly--select-input {
      padding-left: $spacing-md;
    }

    .ly--select__arrow {
      right: 0.7rem;
    }
  }
