.hero--career {
  position: relative;
  min-height: rem(448px);

  .row {
    .hero--container {
      width: 100%;
      @include customflex(column,0,0,0);
      padding: 7rem 0 8rem 0;
      .hero__heading {
        margin-bottom: 2rem;
      }
    }
    .btn--career {
      position: absolute;
      right: 6rem;
      left: auto;
      bottom: 4rem;
    }
  }
}

.our-values {
  position: relative;
  @include customflex(0,0,center,0);

  .our-values--textcontainer {
    position: absolute;
    margin-top: 4rem;
    z-index: 10;
    text-align: center;
  }
  .our-values--col {
    @include customflex(0,center,center,0);
    position: relative;
    width: 33.333%;
    background-image: url('https://res.cloudinary.com/agrowth/image/upload/v1527725506/landscape_wkumob.jpg');
    background-position: center center;
    background-size: cover;
    padding: 2rem;
    min-height: rem(512px);
    .overlay {
      position: absolute;
      background-color: $color-white;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      transition: $transition--enter__fast;
    }
    .our-values--circle {
      @include customflex(column,center,center,0);
      position: absolute;
      bottom:-4rem;
      height: rem(192px);
      width: rem(192px);
      padding: 2rem;
      border-radius: 50%;
      background-color: $color-primary;
      z-index: 3;
      transition: $transition--enter__fast;
      .our-values__heading {
        color: $color-white;
        margin-bottom: 0rem;
        text-align: center;
        transition: $transition--enter__fast;
      }
      .our-values__paragraph {
        display: none;
        text-align: center;
        color: $color-white;
        transition: $transition--enter__fast;
      }
    }
  }

  .our-values--col.hover {
    .overlay {
      opacity: .05;
    }
    .our-values--circle {
      bottom:-2rem;
      height: rem(320px);
      width: rem(320px);
      transition: $transition--enter__fast;
      .our-values__heading {
        margin-bottom: 1rem;
        transition: $transition--enter__fast;
      }
      .our-values__paragraph {
        display: block;
      }
    }
  }

}


.why-us {
  background-color: $color-white-05;
  .row {
    @include customflex(0,flex-start,center,0);
    .interactive-icon {
      flex-basis: 20%;
    }
  }
}

@media (max-width: breakpoint('xl') ) { // 992px
  .why-us .row .interactive-icon {
    flex-basis: 20%;
  }

}

@media (max-width: breakpoint('lg') ) { // 992px
  .why-us .row .interactive-icon {
    flex-basis: 33.333%;
  }
}

@media (max-width: breakpoint('md') ) { // 768px
  .hero--career {
      min-height: rem(448px);
    .row {
        @include customflex(column,center,0,0);
      .hero--container {
        @include customflex(column,0,0,0);
        .hero__heading {
          font-size: 2.5rem;
          margin-bottom: 2rem;
        }
      }
      .btn--career {
        position: absolute;
        right: auto;
        left: 2rem;
      }
    }
  }

  .why-us .row .interactive-icon {
    flex-basis: 50%;
  }
  .our-values {
    @include customflex(column,center,flex-start,0);

    .our-values--textcontainer {
      position: absolute;
      margin-top: 4rem;
      z-index: 10;
      text-align: center;
    }
    .our-values--col, .our-values--col.hover {
      @include customflex(0,center,center,0);
      width: 100%;
      position: relative;
      background-image: url('https://res.cloudinary.com/agrowth/image/upload/v1527725506/landscape_wkumob.jpg');
      background-position: right bottom;
      background-size: cover;
      padding: 2rem;
      min-height: rem(512px);
      .our-values--circle {
        @include customflex(column,center,center,0);
        position: relative;
        bottom: auto;
        height: rem(288px);
        width: rem(288px);
        transition: $transition--enter__fast;
        .our-values__heading {
          margin-bottom: 1rem;
        }
        .our-values__paragraph {
          display: block;
          color: $color-white;
        }
      }
    }

  }

}

@media (max-width: breakpoint('sm') ) { // 992px
  .why-us .row .interactive-icon {
    flex-basis: 100%;
  }


}

@media (max-width: breakpoint('xs') ) { // 992px

  .why-us .row .interactive-icon {
    flex-basis: 100%;
    padding: 0;
  }
}
