.resources-slider {
  @include linear-gradient($color-white-05, $color-white);
  border-top: 1px solid $color-white-10;
  padding: 6rem 0!important;

  .section-button_center{
    flex-direction: row;
    .btn-prev {
      margin-right: .5rem;
    }
    .btn-next {
      margin-left: .5rem;
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .swiper-slide {
    width: auto;
  }
}
