
  .bx--fieldset {
    @include reset;
    margin-bottom: $spacing-xl;
  }

  .bx--form-item {
    @include body-text;
    flex: 1;
    margin-right: $spacing-md;
    margin-bottom: $spacing-lg;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .bx--form-item__uploader {
    @include body-text;
    flex: 1;
    margin-right: 0;
    margin-bottom: $spacing-lg;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .bx--label {
    @include reset;
    @include body-text;
    @include typescale('p-sm');
    font-weight: $input-label-weight;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: $spacing-xs;
  }

  .bx--label .bx--tooltip__trigger {
    @include typescale('p-sm');
  }

  .bx--label--disabled {
    opacity: 0.5;
  }

  input[data-invalid],
  textarea[data-invalid],
  select[data-invalid] {
    box-shadow: 0 2px 0px 0px $support-error;

    ~ .bx--form-requirement {
      max-height: rem(200px);
    }
  }

  .bx--form-requirement {
    @include reset;
    @include typescale('p-sm');
    margin: $spacing-sm 0 0;
    max-height: 0;
    overflow: hidden;
    font-weight: 600;
    line-height: 1.5;

    &::before {
      content: '*';
      display: inline-block;
      color: $support-error;
    }
  }
