@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/import-once';
@import 'mixins';
@import '../../globals/scss/css--reset';

@include exports('button') {
  // <button> elements cannot be used as flex containers
  button.#{$prefix}--btn {
    display: inline-block;
  }

  // Reset intrisic padding in Firefox (see #731)
  button.#{$prefix}--btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Vertically center icon inside <button>
  button.#{$prefix}--btn .#{$prefix}--btn__icon {
    position: relative;
    vertical-align: middle;
    top: -1px;

    // Targets IE10+ browsers: Reset <svg> position for vertical centering
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      top: 0;
    }
  }

  .#{$prefix}--btn {
    @include button-base;
  }

  .#{$prefix}--btn--primary {
    @include button-theme(
      $color-primary,
      transparent,
      $color-white,
      $color-primary-light,
      $color-white
    );
    &:active {
      background-color: $color-primary-light;
      color: $color-white;
    }

  }

  .#{$prefix}--btn--secondary {
    @include button-theme(
      transparent,
      $color-secondary-dark,
      $color-secondary-dark,
      $color-secondary-dark,
      $color-secondary-dark
    );

    &:hover,
    &:focus {
      color: $color-white;
    }

    &:active {
      color: $color-secondary-dark;
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: $color-white;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $color-secondary-dark;
    }
  }

  .#{$prefix}--btn--tertiary {
    @include button-theme(
      transparent,
      $color-white-20,
      $color-white-20,
      $color-white-20,
      $color-white-20
    );

    &:hover,
    &:focus {
      color: $color-white;
    }

    &:active {
      color: $color-white-20;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $color-white-20;
    }
  }

  .#{$prefix}--btn--ghost {
    @include button-theme(
      transparent,
      transparent,
      $color-primary,
      $color-primary,
      $color-primary
    );

    &:hover,
    &:focus {
      color: $color-white;

      .#{$prefix}--btn__icon {
        fill: $color-white;
      }
    }

    .#{$prefix}--btn__icon {
      margin-left: $spacing-xs;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $color-primary;

      .#{$prefix}--btn__icon {
        fill: $color-primary;
      }
    }
  }

  .#{$prefix}--btn--danger {
    @include button-theme(
      transparent,
      $support-error,
      $support-error,
      $support-error,
      $support-error
    );

    &:hover {
      color: $color-white;
      border: $button-border-width solid transparent;
    }

    &:focus {
      color: $color-white;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: $support-error;
      border: $button-border-width solid $support-error;
    }
  }

  .#{$prefix}--btn--danger--primary {
    @include button-theme(
      $support-error,
      transparent,
      $color-white,
      darken($support-error, 10%),
      $color-white
    );

    &:hover:disabled,
    &:focus:disabled {
      color: $color-white;
      border: $button-border-width solid $support-error;
    }
  }

  .#{$prefix}--btn--sm {
    height: 2rem;
    padding: $button-padding-sm;
    letter-spacing: 0;
  }

  .#{$prefix}--btn--lg {
    height: rem(44px);
    padding: $button-padding-lg;
    letter-spacing: 0;
  }

  .#{$prefix}--btn--secondary + .#{$prefix}--btn--primary,
  .#{$prefix}--btn--tertiary + .#{$prefix}--btn--danger--primary {
    margin-left: $spacing-md;
  }
}
