
  .bx--radio-button-group {
    display: flex;
    align-items: center;
    margin-top: $spacing-xs;
  }

  .bx--radio-button {
    @include hidden;
  }

  .bx--radio-button__label {
    @include typescale('p-sm');
    @include body-text;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: $spacing-md;

  }

  .bx--radio-button__appearance {
    @include reset;
    background-color: $color-white;
    border-radius: 50%;
    border: $radio-border-width solid $color-white-20;
    flex-shrink: 0;
    height: rem(18px);
    width: rem(18px);
    margin-right: $spacing-xs;
    transition: border $duration--fast__enter $easing--enter;
  }

  .bx--radio-button:checked + .bx--radio-button__label .bx--radio-button__appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $color-primary;
    transition: border-color $duration--fast__enter $easing--enter;

    &:before {
      content: '';
      display: inline-block;
      position: relative;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $color-primary;
      transition: background-color $duration--fast__enter $easing--enter;
    }
  }
  .bx--radio-button:checked:hover + .bx--radio-button__label .bx--radio-button__appearance {
    border-color: $color-primary-light;
    transition: border-color $duration--fast__enter $easing--enter;

    &:before {
      background-color: $color-primary-light;
      transition: background-color $duration--fast__enter $easing--enter;
    }
  }
  .bx--radio-button:disabled + .bx--radio-button__label {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .bx--radio-button:disabled:hover + .bx--radio-button__label .bx--radio-button__appearance {
    border-color: $color-white-20;
  }

  .bx--radio-button:focus + .bx--radio-button__label .bx--radio-button__appearance {
    @include focus-outline('blurred');
  }

  .bx--radio-button:hover + .bx--radio-button__label .bx--radio-button__appearance {
    border-color: $color-white-10;
    transition: border-color $duration--fast__enter $easing--enter;
  }
