//-----------------------------
// Radio
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../form/form';
@import '../../globals/scss/css--reset';

@include exports('radio-button') {
  .ag--radio-button-group {
    display: flex;
    align-items: center;
    margin-top: $spacing-xs;
  }

  .ag--radio-button {
    @include hidden;
  }

  .ag--radio-button__label {
    @include typescale('p-sm');
    @include body-text;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: $spacing-md;

  }

  .ag--radio-button__appearance {
    @include reset;
    background-color: $color-white;
    border-radius: 50%;
    border: $radio-border-width solid $color-white-20;
    flex-shrink: 0;
    height: rem(18px);
    width: rem(18px);
    margin-right: $spacing-xs;
    transition: border $transition--base $bx--ease-in;
  }

  .ag--radio-button:checked + .ag--radio-button__label .ag--radio-button__appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $color-primary;
    transition: border-color $transition--base $bx--ease-in;

    &:before {
      content: '';
      display: inline-block;
      position: relative;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: $color-primary;
      transition: background-color $transition--base $bx--ease-in;
    }
  }
  .ag--radio-button:checked:hover + .ag--radio-button__label .ag--radio-button__appearance {
    border-color: $color-primary-light;
    transition: border-color $transition--base $bx--ease-in;

    &:before {
      background-color: $color-primary-light;
      transition: background-color $transition--base $bx--ease-in;
    }
  }
  .ag--radio-button:disabled + .ag--radio-button__label {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .ag--radio-button:disabled:hover + .ag--radio-button__label .ag--radio-button__appearance {
    border-color: $color-white-20;
  }

  .ag--radio-button:focus + .ag--radio-button__label .ag--radio-button__appearance {
    @include focus-outline('blurred');
  }

  .ag--radio-button:hover + .ag--radio-button__label .ag--radio-button__appearance {
    border-color: $color-white-10;
    transition: border-color $transition--base $bx--ease-in;
  }
}
