
  .bx--toolbar {
    @include body-text;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1rem 0;

    > div {
      margin: 0 rem(4px);
    }

    .bx--search-input {
      height: rem(32px);
      background-color: transparent;
      outline: none;
    }

    .bx--search-close {
      display: none;
    }

    .bx--overflow-menu__icon {
      fill: $text-02;
      transition: fill 50ms $easing--enter;
    }

    .bx--search-magnifier {
      fill: $text-02;
      transform: scale(1.3);
      transition: all 175ms $easing--enter;
      top: rem(8px);
      left: rem(6px);
      cursor: pointer;
    }

    fieldset {
      border: 0;
      padding: 0;
    }

    .bx--toolbar-search--active {
      width: rem(250px);

      .bx--search-magnifier {
        transform: scale(1);
        top: rem(9px);
      }

      .bx--search-input {
        background-color: $field-primary;
      }

      .bx--search-close {
        display: block;
      }
    }

    .bx--checkbox-label {
      margin-bottom: 0;
    }

    .bx--overflow-menu--open > .bx--overflow-menu__icon {
      fill: $color-primary;
    }
  }

  .bx--toolbar-search {
    width: 1.8rem;
    transition: all 175ms $easing--enter;
  }

  .bx--toolbar-search__btn {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    border: 0;
    height: rem(32px);
    width: rem(32px);

    &:focus {
      @include focus-outline;
    }
  }

  .bx--toolbar-filter-icon {
    padding-left: 0;
    padding-right: 0;
  }

  .bx--toolbar-menu__title {
    @include typescale('p-sm');
    @include letter-spacing;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
  }

  .bx--toolbar-menu__option {
    padding: 0.5rem 1.25rem;
  }

  .bx--toolbar-menu__divider {
    width: 100%;
    border: 0;
    border-top: 1px solid $color-white-10;
  }

  .bx--radio-button-group {
    border: none;
  }
