@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('navbar') {

  .ag--navbar {
    @include customflex(0, center, space-between, 0);
    position: fixed;
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    width: 100%;
    min-height: rem(44px);
    background: $color-white-03;
    border-bottom: 1px solid $color-white-10;
    opacity: 1;
    z-index: z('header');
    transition: top $transition--base $bx--standard-easing;
    .navbar--inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
        .navbar--left {
          @include customflex(0, center, flex-start, 0);
          height: 100%;

          .logo {
            max-height: 2rem;
            margin-right: 2rem
          }

          .navbar--ul {
            @include customflex(0, center, flex-start, 0);

            .navbar--li {
              position: relative;
              @include customflex(0, center, center, 0);
              padding: rem(14px) rem(16px);
              cursor: pointer;
              transition: $transition--base;
              &:before {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                border-bottom: 1px solid $color-white-10;
                transition: $transition--base;
              }
              &:hover:before, &:focus:after {
                border-bottom: 1px solid $color-primary-dark;
                transition: $transition--base;
              }

              &:hover, &:focus {
                .navbar--link{
                  color: $color-primary-dark;
                }
              }

              .navbar--link {
                position: relative;
                font-size: 1rem;
                line-height: 1;
                letter-spacing: 1px;
                text-decoration: none;
                color: $color-dark;
                &:focus {
                  color: $color-primary-dark;
                }

                .link--label {
                    display: block;
                    position: absolute;
                    top: -.125rem;
                    right: -.5rem;
                    background: $color-primary-dark;
                    height: .5rem;
                    width: .5rem;
                    border-radius: 50%;
                    animation: pulse 2s infinite;
                }
              }
            }
          }
        }
        .navbar--right {
          .btn--contact--desktop{
            display: block;
          }
          .btn--contact {
            display: none;
          }
        }
    }
  }

}

@media (min-width: breakpoint('xl')) { // 1600px

}

@media (max-width: breakpoint('xl')) { // 1200px

}

@media (max-width: breakpoint('lg')) { // 992px

  .ag--navbar {
    .navbar--inner {
        .navbar--right {
          .btn--contact--desktop {
            display: none;
          }

          .btn--contact {
            max-height: 44px;
            padding: 14px;
            display: block;
            svg {
              margin:0;
            }
          }
        }
    }
  }

}

@media (max-width: breakpoint('md')) { // 768px
  .bx--navbar {
    display: none;
  }
}

@media (max-width: breakpoint('sm')) { // 576px

}
