@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('navbar') {

  .#{$prefix}--navbar {
    @include customflex(0, center, space-between, 0);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: rem(44px);
    background: $color-white-03;
    border-bottom: 1px solid $color-white-10;
    opacity: 1;
    z-index: z('header');

    .navbar-left {
      @include customflex(0, center, flex-start, 0);
      height: 100%;

      .logo {
        max-height: 2rem;
        margin-right: 2rem
      }

      .navbar-ul {
        @include customflex(0, center, flex-start, 0);

        .navbar-li {
          @include customflex(0, center, center, 0);
          padding: rem(14px) rem(16px);
          border-bottom: 1px solid $color-white-10;
          cursor: pointer;
          transition: $transition--base;

          &:hover, &:focus {
            border-bottom: 1px solid $color-primary;
            transition: $transition--base;
            .navbar-link{
              color: $color-primary;
            }
          }

          .navbar-link {
            position: relative;
            font-size: 1rem;
            line-height: 1;
            letter-spacing: 1px;
            text-decoration: none;
            color: $color-dark;
            &:focus {
              color: $color-primary;
            }

            .link-label {
                display: block;
                position: absolute;
                top: -.125rem;
                right: -.5rem;
                background: $color-secondary-dark;
                height: .5rem;
                width: .5rem;
                border-radius: 50%;
                animation: pulse 2s infinite;
            }
          }
        }
      }
    }



    .navbar-right {

      .bx--btn {

      }
    }
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0px rgba($color-secondary-dark,0.5),  0 0 0 8px rgba($color-secondary-lighter,0.5);

    }
    100% {
      box-shadow: 0 0 0 8px rgba($color-secondary-dark,0.5),  0 0 0 4px rgba($color-secondary-lighter,0.5);

    }
  }


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($color-secondary-dark,0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 8px rgba($color-secondary-dark,0.5);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($color-secondary-dark,0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($color-secondary-dark,0.5);
    box-shadow: 0 0 0 0 rgba($color-secondary-dark,0.5);
  }
  70% {
      -moz-box-shadow: 0 0 0 8px rgba($color-secondary-dark,0);
      box-shadow: 0 0 0 8px rgba($color-secondary-dark,0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($color-secondary-dark,0);
      box-shadow: 0 0 0 0 rgba($color-secondary-dark,0);
  }
}

}
