@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('navbar') {
  .#{$prefix}--navbar {
    @include reset;
    @include font-family;
    height: rem(44px);
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
    background-color: $color-white-03;
    border-bottom: 1px solid $color-white-10;
    width: 100%;
    z-index: z('header');
    transition: $transition--default;
  }
  .#{$prefix}--navbar.scroll {
  @include layer('overlay');
  @include linear-gradient($color-primary, $color-primary-lighter)
  @include linear-gradient($color-secondary, $color-secondary-lighter)
  @include linear-gradient($color-secondary, $color-secondary-lighter)
  transition: $transition--default;
  }


  .#{$prefix}--navbar__heading {
    @include button-reset;
    color: $text-01;
    display: flex;
    align-items: center;
    justify-content: $accordion-justify-content;
    flex-direction: $accordion-flex-direction;
    cursor: pointer;
    padding: $spacing-xs 0;

    // new version of markup uses focus on the heading,
    // not the list element itself
    &:focus {
      outline: none;

      .#{$prefix}--navbar__arrow {
        @include focus-outline('border');
        overflow: visible; // safari fix
        outline-offset: -.5px; // safari fix
      }
    }
  }

  .#{$prefix}--navbar__arrow {
    transition: all $transition--base $carbon--standard-easing;
    height: 1.25rem;
    width: 1.25rem;
    padding: $spacing-2xs $spacing-3xs $spacing-2xs $spacing-2xs;
    margin: $accordion-arrow-margin;
    fill: $ui-05;
  }

  .#{$prefix}--navbar__title {
    margin: $accordion-title-margin;
  }

  .#{$prefix}--navbar__content {
    transition: all $transition--expansion $carbon--ease-out;
    padding: $accordion-content-padding;
    height: 0;
    visibility: hidden;
    opacity: 0;

    p {
      @include typescale('zeta');
    }
  }
}

.#{$prefix}--navbar__item--active {
  overflow: visible;

  .#{$prefix}--navbar__content {
    padding-top: $spacing-md;
    padding-bottom: $spacing-lg;
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: all $transition--expansion $carbon--ease-in;
  }

  .#{$prefix}--navbar__arrow {
    transform: rotate(90deg);
    fill: $brand-01;
  }
}
