//-----------------------------
// Link
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('link') {
  .#{$prefix}--link {
    position: relative;
    @include reset;
    @include pt-serif;
    @include typescale('zeta');
    @include font-smoothing;
    font-weight: 400;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-white-20;
    padding: 1px 0;
    transition: $transition--base;

    &:visited {
      color: $color-primary;
    }

    &:active,
    &:hover,
    &:focus {
      position: relative;
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
      transition: $transition--base;
    }

    &:focus {
      @include focus-outline('border');
    }

    &[aria-disabled="true"] {
      opacity: .5;
      pointer-events: none;
    }
  }
}
