.toggle {
	display: none;

	+ .toggle-btn {
		outline: 0;
		display: flex;
    align-items: center;
		width: 4rem;
		height: 2rem;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: flex;
			content: "";
			width: 1.5rem;
			height: 1.5rem;
		}

		&:after {
			left: .125rem;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .toggle-btn:after {
		left: 2rem;
    background: $color-primary;
	}
}

.toggle-ios {
	+ .toggle-btn {
		background: transparent;
		border-radius: 2rem;
		padding: 2px;
		transition: all $transition--base $bx--standard-easing;
    border: 1px solid $color-grey;

		&:after {
      border-radius: 2em;
			background: $color-grey;
      // transition: all $transition--base $bx--standard-easing;
      transition:
        left .25s cubic-bezier(
          .42,1.35,.45,1
        ),
        padding .25s ease, margin .25s ease;
			box-shadow: $box-shadow--raised;
		}

    &:hover:after {
      will-change: padding;
    }

		&:active {
			box-shadow: none;
			&:after {
				padding-right: .75rem;
			}
		}
	}

	&:checked + .toggle-btn {
    background: transparent;
    border: 1px solid $color-primary;
    &:active {
      box-shadow: none;
      &:after {
  			background: $color-primary;
        transition:
          left .25s cubic-bezier(
            .42,1.35,.45,1
          ),
          padding .25s ease, margin .25s ease;
  			box-shadow: $box-shadow--raised;
        margin-left: -.75rem;
  		}
    }
	}
}
