.cta-section.primary {
  @include linear-gradient($color-primary, $color-primary-light)
}

.cta-section.secondary {
  @include linear-gradient($color-secondary-dark, $color-secondary)
}


.cta-section {
  @include linear-gradient($color-primary, $color-primary-light)
  padding: 2rem 0;
  border-bottom: 1px solid $color-white-10;

  .bx--row {
    .cta-section-container {
      @include customflex( 0, center, center, 0);

      .text-container {
        @include customflex( column, flex-start, center, 0);
        margin-right: 3rem;

        .text-container_heading, .text-container_paragraph {
          color: $color-white;
        }
        .text-container_heading {
          margin-bottom: .25rem;
        }

      }

    }

  }

}

@media (min-width: breakpoint('xl')) { // 1600px

}

@media (max-width: breakpoint('xl')) { // 1200px

}

@media (max-width: breakpoint('lg')) { // 992px


}

@media (max-width: breakpoint('md')) { // 768px
  .cta-section {
    .bx--row {
      .cta-section-container {
        @include customflex( column, center, center, 0);
        .text-container {
          text-align: center;
          margin-right: 0rem;
          margin-bottom: .5rem;
        }
      }

    }

  }

}

@media (max-width: breakpoint('sm')) { // 576px
  .widgets {
    .bx--row {
      .widget-1, .widget-2, .widget-3, .widget-4 {
        width: 100%;

      }

    }
  }
}
