.section-about-us {
  .card.interactive {
    margin: 2rem 0;
  }
  .about-us--circle {
    padding-left: 2rem;
    @include customflex(0,flex-start,center,0);

  .interactive-circle {
    @include customflex(0,center,center,0);
    width: 100%;
    height: auto;
    margin: 4rem 0 0 4rem;


    .circle-inner, .circle-middle, .circle-outer {
      position: absolute;
      border-radius: 50%;
      z-index: 5;
    }
    .circle-outer {
      height: rem(448px);
      width: rem(448px);
      border: 1px solid $color-white-10;
      z-index: 3;
    }
    .circle-middle {
      height: rem(352px);
      width: rem(352px);
      border: 1px solid $color-white-20;
      z-index: 4;
    }
    .circle-inner {
      position: relative;
      // width: 24em;
      // height: 24em;
      height: rem(256px);
      width: rem(256px);
      padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
      border: dashed 1px;
      border-radius: 50%;
      border: 1px solid $color-dark;

      .circle-sm {
        @include customflex(0,center,center,0);
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -2rem; /* 2em = 4em/2 */ /* half the width */
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        box-shadow: $box-shadow--temporary-nav;
        svg {
          fill: $color-white;
        }
        .icn-testing, .icn-measure, .icn-iterate, .icn-growthanalysis--simple {
          height: 24px;
          width: 24px;
        }
        .icn-bulb {
          height: 26px;
          width: 20px;
        }
      }

      .circle-sm.center {
        height: 6rem;
        width: 6rem;
        margin: -3rem; /* 2em = 4em/2 */ /* half the width */
        background-color: $color-white;
        svg {
          height: 3rem;
          width: 3rem;
        }
      }

      .circle-sm.icon {
        @include linear-gradient($color-primary, $color-primary-light);
        &:hover {
          @include linear-gradient($color-white, $color-white);
          border: 1px solid $color-white-10;
          box-shadow: $box-shadow--overlay;
          svg {
            fill: $color-dark;
          }
        }
      }
      .circle-sm.icon.active {
          @include linear-gradient($color-white, $color-white);
          border: 1px solid $color-white-10;
          box-shadow: $box-shadow--overlay;
          svg {
            fill: $color-dark;
          }

      }
      .deg0 { transform: translate(128px); } /* 12em = half the width of the wrapper */
      .deg72 { transform: rotate(72deg) translate(128px) rotate(-72deg); }
      .deg144 { transform: rotate(144deg) translate(128px) rotate(-144deg); }
      .deg216 { transform: rotate(216deg) translate(128px) rotate(-216deg); }
      .deg288 { transform: rotate(288deg) translate(128px) rotate(-288deg); }
    }
  }
  }

  .bx--btn__primary {
    margin-right: 1rem;
  }
}

@media (max-width: breakpoint('lg') ) {
  .section-about-us {
    .about-us--circle {
      padding-left: 0;
    .interactive-circle {
      @include customflex(0,center,center,0);
      height: 448px;
      width: 448px;
      margin: 0rem;
    }
  }
  }
  .about-us--content {
    order: 2;
  }
  .about-us--circle {
    order: 1;
  }

}

@media (max-width: breakpoint('sm') ) {
  .section-about-us {
    .about-us--circle {
      padding-left: 0;
    .interactive-circle {
      height: 352px;
      width: 352px;
      .circle-outer {
        display: none;
      }
    }
  }
  }


}
