//-----------------------------
// Order Summary
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/mixins';
@import '../dropdown/_dropdown.scss';

@include exports('order-summary') {
  @include deprecate(
    'Accessing the `order-summary` component from the `carbon-components` ' +
    'package is deprecated. Use the `carbon-addons-bluemix` package instead.'
  ) {
    .ag--order-summary {
      @include typescale('p-sm');
      background-color: $color-white;
      padding-bottom: 1.25rem;
      width: 18rem;
      height: auto;
      display: flex;
      flex-direction: column;
    }

    .ag--order-header {
      display: flex;
      align-items: center;
      padding: 0 0 0 1.25rem;
      border-bottom: 1px solid $color-white-20;

      .ag--dropdown {
        flex: 1;
        background-color: $color-white;
        margin-right: rem(1px);
      }

      .ag--dropdown-text {
        max-width: rem(100px);
      }

      .ag--dropdown-link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .ag--dropdown[data-value=''] .ag--dropdown-text,
      .ag--dropdown-text {
        color: $color-primary;
      }
    }

    .ag--order-header-title {
      @include typescale('p-sm');
      font-weight: 600;
      flex: 2;
    }

    .ag--order-list {
      padding: 1.25rem 0;
      margin: 0 1.25rem;
      border-bottom: 1px solid $color-white-20;
    }

    .ag--order-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ag--order-detail {
      @include typescale('p-sm');
      color: $text-02;
      padding-right: 1.25rem;
      line-height: 1.25;
    }

    .ag--order-price {
      @include typescale('p-sm');
      font-weight: 600;
      white-space: nowrap;
    }

    .ag--order-total-container {
      padding: 1.125rem 1.25rem 0;

      .ag--btn {
        width: 100%;
        margin-top: 1rem;

        &:first-of-type {
          margin-top: 2rem;
        }

        &:last-of-type {
          margin-bottom: 2rem;
        }
      }
    }

    .ag--order-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .ag--order-total-text {
      font-weight: 600;
    }

    .ag--order-total-price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-weight: 600;

      span {
        @include typescale('p-sm');
        color: $text-02;
        font-weight: 400;
      }
    }

    .ag--order-total-subtitle {
      @include typescale('p-micro');
      color: $text-02;
      font-style: italic;
    }

    .ag--order-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: auto;
      padding-right: 1.25rem;
    }

    .ag--order-footer-text {
      @include typescale('p-sm');
      color: $text-02;
      line-height: 1;
    }

    .ag--order-category {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ag--order-category-title {
      @include typescale('p-sm');
      font-weight: 600;
      margin-bottom: rem(4px);
      text-transform: uppercase;
    }
  }
}
