.tabnav {
  position: absolute;
  top:0;
  background: $ui-01;
  z-index: 5999;
  box-shadow: $box-shadow--raised;
  transition: box-shadow 0.250s $carbon--standard-easing;
}

.sticky-tabnav {
  position: fixed!important;
  top: 48px;
  transition: $transition-default;
  z-index: 5999;
  box-shadow: $box-shadow--sticky-nav;
  transition: box-shadow 0.250s $carbon--standard-easing;
}



.tab-content {
  position: relative;
  padding-top: 1rem;
}

@media screen and (min-width: $mq-sm) and (max-width: $mq-md) {
  .bx--tabs__nav-item {
    font-size: .75rem;
  }
}
