//-----------------------------
// Notifications
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/import-once';
@import '../../globals/scss/mixins';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';
@import '../../globals/scss/css--helpers';

@include exports('navbar-notifications') {
  .#{$prefix}--navbar-notification {
    @include reset;
    @include pt-serif;
    @include font-smoothing;
    @include typescale('zeta');
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 3rem;
    min-height: rem(44px);
    color: $color-dark;
    width: 100%;
    left:0;
    transition: top $transition--base $bx--standard-easing;

  }
  .#{$prefix}--navbar-notification.active {
    top: 0px;
  }

  .#{$prefix}--navbar-notification--error {
    @include navbar-notification--color($support-error,$support-error);
  }

  .#{$prefix}--navbar-notification--success {
    @include navbar-notification--color($support-success,$support-success);
  }

  .#{$prefix}--navbar-notification--info {
    @include navbar-notification--color($support-info,$support-info);
  }

  .#{$prefix}--navbar-notification--warning {
    @include navbar-notification--color($support-warning,$support-warning);
  }

  .#{$prefix}--navbar-notification--primary {
    @include navbar-notification--color($color-primary,$color-white);
    @include linear-gradient($color-primary, $color-primary-light);
    .#{$prefix}--navbar-notification__close-icon {
      fill: $color-white;
    }
    color: $color-white;
  }

  .#{$prefix}--navbar-notification--secondary {
    @include navbar-notification--color($color-secondary-dark, $color-white);
    @include linear-gradient($color-secondary-dark, $color-secondary);
    .#{$prefix}--navbar-notification__close-icon {
      fill: $color-white;
    }
    color: $color-white;
  }

  .#{$prefix}--navbar-notification__details {
    display: flex;
    align-items: center;
  }

  .#{$prefix}--navbar-notification__icon {
    height: 16px;
    width: 16px;
    min-width: 22px;
  }

  .#{$prefix}--navbar-notification__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 $spacing-md;

    @media (max-width: 640px) {
      flex-direction: column;
      width: 100%;
    }
  }

  .#{$prefix}--navbar-notification__title {
    @include typescale('zeta');
    font-weight: 700;
    margin: 0 $spacing-xs 0 0;
    line-height: 1.125;
  }

  .#{$prefix}--navbar-notification__subtitle {
    @include typescale('zeta');
    margin: 0 $spacing-md 0 0;
    line-height: 1.125;
  }

  .#{$prefix}--navbar-notification__close-button {
    background-color: transparent;
    border: none;
    padding: .5rem;
    cursor: pointer;
    position: relative;

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--navbar-notification__close-icon {
    height: 10px;
    width: 10px;
    fill: $color-dark;
    position: absolute;
    top: 3px;
    right: 3px;
  }
}
