@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/css--typography';

@include exports('navbar') {

  .#{$prefix}--navbar {
    @include customflex(0, center, space-between, 0);
    position: fixed;
    display: flex;
    flex-direction: column;
    top:0;
    left:0;
    width: 100%;
    min-height: rem(44px);
    background: $color-white-03;
    border-bottom: 1px solid $color-white-10;
    opacity: 1;
    z-index: z('header');
    transition: top $transition--base $bx--standard-easing;
    .navbar--inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
        .navbar--left {
          @include customflex(0, center, flex-start, 0);
          height: 100%;

          .logo {
            max-height: 2rem;
            margin-right: 2rem
          }

          .navbar--ul {
            @include customflex(0, center, flex-start, 0);

            .navbar--li {
              position: relative;
              @include customflex(0, center, center, 0);
              padding: rem(14px) rem(16px);
              cursor: pointer;
              transition: $transition--base;
              &:before {
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                border-bottom: 1px solid $color-white-10;
                transition: $transition--base;
              }
              &:hover:before, &:focus:after {
                border-bottom: 1px solid $color-primary;
                transition: $transition--base;
              }

              &:hover, &:focus {
                .navbar--link{
                  color: $color-primary;
                }
              }

              .navbar--link {
                position: relative;
                font-size: 1rem;
                line-height: 1;
                letter-spacing: 1px;
                text-decoration: none;
                color: $color-dark;
                &:focus {
                  color: $color-primary;
                }

                .link--label {
                    display: block;
                    position: absolute;
                    top: -.125rem;
                    right: -.5rem;
                    background: $color-secondary-dark;
                    height: .5rem;
                    width: .5rem;
                    border-radius: 50%;
                    animation: pulse 2s infinite;
                }
              }
            }
          }
        }
        .navbar--right {

        }
    }
  }

  .#{$prefix}--navbar__mobile {
    @include customflex(0, center, space-between, 0);
    position: fixed;
    display: none;
    flex-direction: column;
    top:0;
    left:0;
    width: 100%;
    min-height: rem(44px);
    background: $color-white-03;
    border-bottom: 1px solid $color-white-10;
    opacity: 1;
    z-index: z('header');
    transition: top $transition--base $bx--standard-easing;
    .navbar--inner {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 44px;
        .navbar--left {
          @include customflex(0, center, flex-start, 0);
          height: 100%;
          margin-left: 3rem;

          .logo {
            max-height: 2rem;
            margin-right: 2rem
          }

        }
        .navbar--right {
          display: flex;
          margin-right: 3rem;
          .hamburger-icon {
            @include customflex(0, center, center, 0);
            position: relative;
            height: 44px;
            width: 44px;
            background-color: transparent;
            transition: $transition--default;

            .hamburger-line {
              position: absolute;
              width: 20px;
              height: 1px;
              background-color: rgba($color-dark,1);
            }
            .line-1 {
              transform: translateY(-4px);
              transition: $transition--default;
            }
            .line-2 {
              transform: translateY(4px);
              transition: $transition--default;
            }

            &:hover {
              cursor: pointer;
              transition: $transition--default;
              .hamburger-line {
                background-color: rgba($color-dark,.5);
              }
              .line-1 {
                transform: translateY(-4px);
                transition: $transition--default;
              }
              .line-2 {
                transform: translateY(4px);
                transition: $transition--default;
              }

            }
          }
          .hamburger-icon.active {

            .hamburger-line {
              background-color: rgba($color-dark,1);
            }
            .line-1 {
              transform: rotate(45deg);
              transition: $transition--default;
            }
            .line-2 {
              transform: rotate(-45deg);
              transition: $transition--default;
            }

            &:hover {
              cursor: pointer;
              transition: $transition--default;
              .hamburger-line {
                background-color: rgba($color-dark,.5);
              }
              .line-1 {
                transform: rotate(45deg);
                transition: $transition--default;
              }
              .line-2 {
                transform: rotate(-45deg);
                transition: $transition--default;
              }

            }
          }

          .bx--btn {
            max-height: 44px;
            svg {
              margin:0;
            }
          }
          .btn--contact {
            padding: 14px;
          }
        }
    }
  }


    .#{$prefix}--navbar--submenu__mobile {
      @include customflex(0, center, center, 0);
      position: fixed;
      flex-direction: column;
      top:0;
      left:0;
      width: 100vw;
      height: 100vh;
      background: transparent;
      opacity: 0;
      z-index: z('hidden');
      transition: background-color $transition--base $bx--standard-easing;

      .navbar--ul {
        .navbar--li {
          @include customflex(0, 0, center, 0);
          a {
            margin-bottom: 1rem;
          }

        }
      }
    }

    .#{$prefix}--navbar--submenu__mobile.visible {
      display: none;
      @include customflex(0,0,0,0);
      opacity: 1;
      z-index: 5000;
      background-color: $color-white-03;
      transition: $transition--default;
    }



}


@media (min-width: breakpoint('xl')) { // 1600px
  .#{$prefix}--navbar--submenu__mobile.visible {
    display: none;
  }
}

@media (max-width: breakpoint('xl')) { // 1200px
  .#{$prefix}--navbar--submenu__mobile.visible {
    display: none;
  }
}

@media (max-width: breakpoint('lg')) { // 992px
  .bx--navbar {
    display: none;
  }
  .bx--navbar__mobile {
    display: flex;
  }
  .#{$prefix}--navbar--submenu__mobile.visible {
    display: flex;
  }
}

@media (max-width: breakpoint('md')) { // 768px
  .#{$prefix}--navbar--submenu__mobile.visible {
    display: flex;
  }



}

@media (max-width: breakpoint('sm')) { // 576px

}
