.ag--data-table-v2-container {
  width: 100%;
  min-width: rem(500px);
  overflow-x: auto;
  padding-top: $spacing-3xs; // allow space for focus styles
}

.ag--data-table-v2 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-bottom: 1px solid $color-white-10;

  thead {
    @include typescale('p-sm');
    background-color: $color-white-03;
    font-weight: 700;
  }

  tbody {
    @include typescale('p-sm');
    background-color: $color-white;
  }

  tr {
    height: rem(48px);

    &:hover {
      td {
        background-color: rgba($color-secondary, 0.1);
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;

        &:first-of-type {
          border-left: 1px solid $color-primary;
        }

        &:last-of-type {
          border-right: 1px solid $color-primary;
        }
      }

      .ag--overflow-menu {
        opacity: 1;
      }
    }
  }

  th {
    border-top: 1px solid $color-white-10;
  }

  th,
  td {
    border-top: 1px solid $color-white-10;
    padding-left: $spacing-sm;
    vertical-align: middle;
    text-align: left;

    &:first-of-type {
      padding-left: rem(24px);
      border-left: 1px solid $color-white-10;
    }

    &:last-of-type {
      padding-right: $spacing-lg;
      border-right: 1px solid $color-white-10;
    }
  }

  // Overrrides
  .ag--checkbox-label {
    padding-left: rem(28px);
  }

  .ag--overflow-menu {
    opacity: 0;

    &:focus {
      outline: 0;
      opacity: 1;
      box-shadow: none;

      .ag--overflow-menu__icon {
        box-shadow: inset 0px 0px 0px 1px $color-primary;
      }
    }
  }

  .ag--overflow-menu__icon {
    transform: rotate(90deg);
  }
}

// Options

.ag--data-table-v2-header {
  margin-bottom: $spacing-xs;
}

.ag--data-table-v2--zebra {
  tbody tr:nth-child(even) {
    background-color: $color-white-03;
  }
}

.ag--data-table-v2--no-border {
  tr {
    &:last-of-type {
      td {
        border-bottom-color: transparent;
      }
    }
  }

  th,
  td {
    &:first-of-type {
      border-left-color: transparent;
    }

    &:last-of-type {
      border-right-color: $color-white-10;
    }
  }
}

.ag--data-table-v2--compact {
  tbody tr {
    height: rem(24px);
  }
}

.ag--data-table-v2--short {
  tbody tr {
    height: rem(32px);
  }
}

.ag--data-table-v2--tall {
  tbody tr {
    height: rem(64px);
  }
}

.ag--data-table-v2--static {
  width: auto;
}

.ag--data-table-v2--zebra tbody tr.ag--data-table-v2--selected,
tbody tr.ag--data-table-v2--selected {
  background-color: rgba($color-secondary, 0.1);
}
