.ag--inline-edit-label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    .ag--inline-edit-label__icon {
      opacity: 1;
    }
  }
}

.ag--inline-edit-label--inactive {
  display: none;
}

.ag--inline-edit-label__action {
  @include button-reset(false);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    @include focus-outline;
    padding: $spacing-3xs;

    .ag--inline-edit-label__icon {
      width: auto;
      opacity: 1;
    }
  }
}

.ag--inline-edit-label__icon {
  fill: $color-white-20;
  opacity: 0;
}

.ag--inline-edit-input {
  display: none;
}

.ag--inline-edit-input--active {
  display: block;
  margin-left: rem(-12px);

  input {
    padding-left: $spacing-sm;
  }
}

.ag--data-table-v2--short {
  input {
    height: rem(32px);
  }

  select {
    padding: 0.45rem 2.75rem 0.45rem $spacing-md;
  }

  .ag--select__arrow {
    top: 0.875rem;
  }
}
