$font-path: '../../../fonts' !default;

@import 'import-once';
@import 'css--plex-core';

@mixin agrowth-font-face {
  // Default font directory, `!default` flag allows user override.
  // (font files are configured to be served as static assets from server.js)

  @font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 700;
    src: url('#{$font-path}/archivo-black/archivo-black--regular.ttf') format('ttf');
  }

  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: url('#{$font-path}/pt-serif/pt-serif--bolditalic.ttf') format('ttf');
  }

  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('#{$font-path}/pt-serif/pt-serif--bold.ttf') format('ttf');
  }

  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: url('#{$font-path}/pt-serif/pt-serif--italic.ttf') format('ttf');

  }

  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('#{$font-path}/pt-serif/pt-serif--regular.ttf') format('ttf');
  }
}

@include exports('css--font-face') {

  @include agrowth-font-face;

}
