.sticky-cards {
  @include customflex(column,center,0,0);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 832px;
  margin-left: -96px;
  width: rem(320px);
  height: 584px;
  z-index: z(footer);

  transition: opacity $transition--base $bx--standard-easing;
  .card-link {
    text-decoration: none;
    &:after {
    display: none;
    }
    .sticky-card--contact, .sticky-card--service, .sticky-card--consultant {
      @include customflex(column,0,center,0);
      width: rem(320px);
      margin-bottom: 1rem;
    }

    .sticky-card--contact {
      background-color: $color-white;
    }
    .sticky-card--service {
      background-color: $color-white;
    }
    .sticky-card--consultant {
      @include linear-gradient($color-primary, $color-primary-light);
      color: $color-white;
    }

  }
}

.sticky-cards.hidden {
  display: none;
}

.sticky-cards.fixed {
  position: fixed;
  top: 50%;
  left: 832px;
  margin-left: 0;
  margin-top: -150px;
  width: rem(320px);
  height: 584px;
  opacity: 1;
  transition: opacity $transition--base $bx--standard-easing;

}

.sticky-cards.fade {
  position: fixed;
  top: 50%;
  right: 50%;
  margin-right: -25%;
  margin-top: -150px;
  opacity: 0;
  transition: opacity $transition--base $bx--standard-easing;
}
