//-----------------------------
// Time Picker
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/spacing';
@import '../../globals/scss/typography';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/import-once';

@include exports('time-picker') {
  .ag--time-picker {
    display: flex;
    align-items: flex-start;
  }

  .ag--time-picker .ag--select-input {
    padding-right: $spacing-xl;
  }

  .ag--time-picker .ag--select__arrow {
    right: 0.875rem;
  }

  .ag--time-picker__input-field {
    @include reset;
    @include body-text;
    @include typescale('p-sm');
    display: flex;
    align-items: center;
    background-color: $field-primary;
    border: 1px solid transparent;
    width: 4.875rem;
    color: $text-01;
    height: rem(40px);
    padding: 0 $spacing-md;

    &:focus {
      @include focus-outline('border');
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
