//----------------------------------------------
// Inline Notification
// ---------------------------------------------

@mixin inline-notification--color($color) {
  border: 1px solid $color;
  border-left: 6px solid $color;

  .bx--inline-notification__icon {
    fill: $color;
  }
}

//----------------------------------------------
// Navbar Notification
// ---------------------------------------------

@mixin navbar-notification--color($border, $fill) {
  border: 1px solid $border;
  border-left: 6px solid $border;

  .bx--navbar-notification__icon {
    fill: $fill;
  }
}

//----------------------------------------------
// Toast Notification
// ---------------------------------------------

@mixin notification--color($color) {
  border-left: 6px solid $color;
}
