.component.bg-image {
  width: 100%;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 320px;
  margin-bottom: 4rem;
}
