.component.socialproof {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .component--container {
    display: flex;
    flex-wrap: wrap;
    max-width: $maxwidth-text;
    width: 100%;


    // Card - Testimonial

    .card.card--testimonial {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: auto;
      .quote {

      }
      .quotee {
        color: $color-primary-dark;
      }
    }

    // Card - Stats

    .card.card--stat-info {
      align-items: center;
      justify-content: flex-start;
      height: auto;
      .stat-box {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 5rem;
        min-width: 5rem;
        border-radius: .5rem;
        border: 1px solid $color-primary-dark;
        .stat {
          color: $color-primary-dark;
        }
      }
      .info-box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-left: 1rem;
        width: auto;
        .paragraph-sm {
          font-weight: 700;
          color: $color-black;
        }
        .info {
          // font-size: rem(14px);
          // line-height: rem(20px);
          // margin:0;
          // padding: 0;
          // color: $color-black-paragraph;

        }
      }
    }

  }
}
