@import 'colors';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'css--reset';
@import 'import-once';

@mixin css-body {
  body {
    @include reset;
    @include pt-serif;
    color: $text-01;
    background-color: $color-white-03;
    line-height: 1;
    ::selection {
      background: $color-white-10;
    }
    ::-moz-selection {
      background: $color-white-10;
    }
  }
}

@include exports('css--body') {
  @if global-variable-exists('css--body') == false or $css--body == true {
    @include css-body;
  }
}
