@import 'colors';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'css--reset';
@import 'import-once';

$letterspacing-map: (
  'giga' :  0.8125rem,
  'mega' :  0.5625rem,
  'alpha' : 0.375rem,
  'beta' :  0.3125rem,
  'gamma' : 0.21875rem,
  'delta' : 0.1875rem,
  'epsilon' : 0.15625rem,
  'zeta' : 0.125rem,
  'omega' : 0.125rem,
  'caption' : 0.125rem,
  'legal' : 0.125rem,
  'p' : 0.15625rem
);

@mixin letter-spacing($size: null) {
  @if map-has-key($letterspacing-map, $size) {
    letter-spacing: map-get($letterspacing-map, $size);
  } @else {
    letter-spacing: 0.125rem;
  }
}

@mixin typography {
  // really big
  .#{$prefix}--type-giga {
    @include archivo-black;
    @include typescale('giga');
    @include reset;
    @include line-height('heading');
    font-weight: 400;
  }

  .#{$prefix}--type-mega {
    @include archivo-black;
    @include typescale('mega');
    @include reset;
    @include line-height('heading');
    font-weight: 400;
  }

  // really small
  .#{$prefix}--type-omega {
    @include pt-serif;
    @include typescale('omega');
    @include reset;
    @include line-height('heading');
    font-weight: 400;
  }

  .#{$prefix}--type-caption {
    @include pt-serif;
    @include typescale('caption');
    @include reset;
    @include line-height('body');
    font-weight: 400;
  }

  .#{$prefix}--type-legal {
    @include pt-serif;
    @include typescale('legal');
    @include reset;
    @include line-height('body');
    font-weight: 400;
  }

  .#{$prefix}--type-caps {
    text-transform: uppercase;
  }

  strong,
  .#{$prefix}--type-strong {
    @include reset;
    font-weight: 700;
  }

  p {
    @include pt-serif;
    @include reset;
    @include typescale('p');
    @include line-height('body');
    font-weight: 400;
  }

  em {
    @include reset;
    font-style: italic;
  }

  a {
    @include reset;
    color: $color-primary;
  }

  ul, ol {
    @include typescale('delta');
    @include line-height('body');
  }

  h1,
  .#{$prefix}--type-alpha {
    @include reset;
    @include archivo-black;
    @include typescale('alpha');
    @include line-height('heading');
    font-weight: 400;
  }
  .#{$prefix}--type-alpha__subheading {
    @include reset;
    @include typescale('alpha');
    @include line-height('heading');
    @include pt-serif;
    @include letter-spacing('alpha');
    text-transform: uppercase;
    color: $color-grey;
  }

  h2,
  .#{$prefix}--type-beta {
    @include reset;
    @include archivo-black;
    @include typescale('beta');
    @include line-height('heading');
    font-weight: 400;
  }
  .#{$prefix}--type-beta__subheading {
    @include reset;
    @include typescale('beta');
    @include line-height('heading');
    @include pt-serif;
    @include letter-spacing('beta');
    text-transform: uppercase;
    color: $color-grey;
  }

  .#{$prefix}--type-beta__paragraph {
    @include reset;
    @include typescale('beta');
    @include line-height('body');
    @include pt-serif;
    font-weight: 400;
  }

  h3,
  .#{$prefix}--type-gamma {
    @include reset;
    @include archivo-black;
    @include typescale('gamma');
    @include line-height('heading');
    font-weight: 400;
  }

  .#{$prefix}--type-gamma__subheading {
    @include reset;
    @include typescale('gamma');
    @include line-height('heading');
    @include pt-serif;
    @include letter-spacing('gamma');
    text-transform: uppercase;
    font-weight: normal;
    color: $color-grey;
  }

  .#{$prefix}--type-gamma__paragraph {
    @include reset;
    @include typescale('gamma');
    @include line-height('body');
    @include pt-serif;
    font-weight: 400;
  }

  h4,
  .#{$prefix}--type-delta {
    @include reset;
    @include archivo-black;
    @include typescale('delta');
    @include line-height('heading');
    font-weight: 400;
  }

  .#{$prefix}--type-delta__subheading {
    @include reset;
    @include typescale('delta');
    @include line-height('heading');
    @include pt-serif;
    @include letter-spacing('delta');
    font-weight: 400;
    text-transform: uppercase;
    color: $color-grey;
    margin-bottom: .5rem;
  }

  .#{$prefix}--type-delta__paragraph {
    @include reset;
    @include typescale('delta');
    @include line-height('body');
    @include pt-serif;
    font-weight: 400;
  }

  h5,
  .#{$prefix}--type-epsilon {
    @include reset;
    @include pt-serif;
    @include typescale('epsilon');
    @include line-height('heading');
    font-weight: 400;
  }

  .#{$prefix}--type-epsilon__subheading {
    @include reset;
    @include typescale('epsilon');
    @include line-height('body');
    @include letter-spacing('epsilon');
    @include pt-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: $color-grey;
  }

  .#{$prefix}--type-epsilon__paragraph {
    @include reset;
    @include pt-serif;
    @include typescale('epsilon');
    @include line-height('body');
    font-weight: 400;
  }


  h6,
  .#{$prefix}--type-zeta {
    @include reset;
    @include pt-serif;
    @include typescale('zeta');
    @include line-height('heading');
    font-weight: 400;
  }

  .#{$prefix}--type-zeta__subheading {
    @include reset;
    @include pt-serif;
    @include typescale('zeta');
    @include line-height('heading');
    @include letter-spacing;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-grey;
    margin-bottom: .25rem;
  }
}

@include exports('css--typography') {
  @if global-variable-exists('css--typography') == false or $css--typography == true {
    @include typography;
  }
}
