$easing--exit: cubic-bezier(0.4, 0.0, 1, 1);
$easing--enter: cubic-bezier(0.0, 0.0, 0.2, 1);

// Duration
$duration--instant: 100ms;

$duration--fast__enter: 150ms;
$duration--fast__exit: 75ms;

$duration--normal__enter: 300ms;
$duration--normal__exit: 250ms;

$duration--slow__enter: 500ms;
$duration--slow__exit: 450ms;

// Exit transitions
$transition--exit__instant: all $duration--instant $easing--exit;
$transition--exit__fast: all $duration--fast__exit $easing--exit;
$transition--exit__normal: all $duration--normal__exit $easing--exit;
$transition--exit__slow: all $duration--slow__exit $easing--exit;

// Enter transitions
$transition--enter__instant: all $duration--instant $easing--enter;
$transition--enter__fast: all $duration--fast__enter $easing--enter;
$transition--enter__normal: all $duration--normal__enter $easing--enter;
$transition--enter__slow: all $duration--slow__enter $easing--enter;





// $ly--ease-in: cubic-bezier(0.25, 0, 1, 1); // Used primarily for removing elements from the screen.
// $ly--ease-out: cubic-bezier(
//   0,
//   0,
//   0.25,
//   1
// ); // Used for adding elements to the screen or changing on-screen states at a users's input.
//
// // $ly--standard-easing: cubic-bezier(.12,.85,.31,1); // Used for the majority of animations.
// // $ly--standard-easing: cubic-bezier(.58,.46,.36,.93); // Used for the majority of animations.
// // $ly--standard-easing: cubic-bezier(.46,0,.28,.97); // Used for the majority of animations.
// $ly--standard-easing: cubic-bezier(.62,.03,.67,.99); // Used for the majority of animations.
//
// $ly--reverse-easing: cubic-bezier(.54,.27,.51,.85); // Used for the majority of animations.
//
// $transition--base: 175ms;
// $transition--expansion: 350ms;
//
// $transition--default: all $transition--base $ly--standard-easing;
// $transition--long: all $transition--expansion $ly--standard-easing;
// $transition--long-reverse: all $transition--expansion $ly--reverse-easing;
