
:focus {
  outline:none;
}


// h1,h2,h3,h4,h5,h6 {
//   white-space: normal;
//   word-wrap: break-word;
//   overflow-wrap: break-word;
//
//   -webkit-hyphens: auto;
//   -moz-hyphens: auto;
//   hyphens: auto;
// }



.section-1rem {
  padding: 1rem 0;
}

.section-2rem {
  padding: 2rem 0;
}

.section-3rem {
  padding: 3rem 0;
}

.section-4rem {
  padding: 4rem 0;
}

.section-6rem {
  padding: 6rem 0;
}

.section-8rem {
  padding: 8rem 0;
}

.section-wrap {
  @include customflex(0,0,0,wrap);
}

.section-heading {
  padding: 0 0 2rem 0;
}

.section-heading_center {
  @include customflex( column, center , center , wrap);
  padding: 0 0 2rem 0;
}
.section-button {
  padding: 2rem 0;
}

.section-button_center {
  @include customflex( column, center , center , wrap);
  padding: 2rem 0;
}

.section-left {
  padding: 0 4rem 2rem 0;
}

.section-right {
  padding: 0 0 2rem 4rem;
}

.padding-top {
  @include customflex( 0, 0, 0, 0 );
  margin-top:2rem;
}

.section-2col {
  width: 50%;
}
.section-2col:nth-child(2n+1){
  padding: .5rem .5rem .5rem 0rem;
}
.section-2col:nth-child(2n+2){
  padding: .5rem 0rem .5rem .5rem;
}


.section-3col {
  width: 33.333%;
}
.section-3col:nth-child(3n+1){
  padding: .5rem .5rem .5rem 0rem;
}
.section-3col:nth-child(3n+2){
  padding: .5rem .5rem .5rem .5rem;
}
.section-3col:nth-child(3n+3){
  padding: .5rem 0rem .5rem .5rem;
}

.section-4col {
  width: 25%;
}
.section-4col:nth-child(4n+1){
  padding: .5rem .5em .5rem 0rem;
}
.section-4col:nth-child(4n+2){
  padding: .5rem .5rem .5rem .5rem;
}
.section-4col:nth-child(4n+3){
  padding: .5rem .5rem .5rem .5rem;
}
.section-4col:nth-child(4n+4){
  padding: .5rem 0rem .5rem .5rem;
}


@media (min-width: breakpoint('xl')) { // 1600px

}

@media (max-width: breakpoint('xl')) { // 1200px

}

@media (max-width: breakpoint('lg')) { // 992px

  .section-4col {
    width: 33.333%;
  }
  .section-4col:nth-child(3n+1){
    padding: .5rem .5rem .5rem 0rem;
  }
  .section-4col:nth-child(3n+2){
    padding: .5rem .5rem .5rem .5rem;
  }
  .section-4col:nth-child(3n+3){
    padding: .5rem 0rem .5rem .5rem;
  }

}

@media (max-width: breakpoint('md')) { // 768px

  .section-2col {
    width: 100%;
  }
  .section-2col:nth-child(2n+1){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-2col:nth-child(2n+2){
    padding: .5rem 0rem .5rem 0rem;
  }

  .section-3col {
    width: 100%;
  }
  .section-3col:nth-child(3n+1){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-3col:nth-child(3n+2){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-3col:nth-child(3n+3){
    padding: .5rem 0rem .5rem 0rem;
  }

  .section-4col {
    width: 50%;
  }
  .section-4col:nth-child(2n+1){
    padding: .5rem .5rem .5rem 0rem;
  }
  .section-4col:nth-child(2n+2){
    padding: .5rem 0rem .5rem .5rem;
  }

  .section-left {
    padding: 0 0 2rem 0;
  }
  .section-right {
    padding: 0 0 2rem 0;
  }


}

@media (max-width: breakpoint('sm')) { // 576px
  .section-4col {
    width: 100%;
  }
  .section-4col:nth-child(4n+1){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-4col:nth-child(4n+2){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-4col:nth-child(4n+3){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-4col:nth-child(4n+4){
    padding: .5rem 0rem .5rem 0rem;
  }
}
