
:focus {
  outline:none;
}

form {
  @include customflex(column, 0,0,0);
}

//FORM RESET

textarea, select, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"],
input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"]{

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-background-clip: padding;
-moz-background-clip: padding;
background-clip:padding-box;
-webkit-border-radius:0;
-moz-border-radius:0;
-ms-border-radius:0;
-o-border-radius:0;
border-radius:0;
-webkit-appearance:none;
}

.swiper-slider-outer {
  // flex-basis: 100%;
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 352px!important;
      padding: 2rem 0;
    }
  }
}

.img-container {
  width: 100%;
  height: 100%;
  .featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.section-content {
    max-width: 724px;
}

.section-1rem {
  padding: 1rem 0;
}

.section-2rem {
  padding: 2rem 0;
}

.section-3rem {
  padding: 3rem 0;
}

.section-4rem {
  padding: 4rem 0;
}

.section-6rem {
  padding: 6rem 0;
}

.section-8rem {
  padding: 8rem 0;
}

.section-wrap {
  @include customflex(0,0,0,wrap);
}

.flex-cc {
  @include customflex(0,center,center,0);
}
.flex-fs0 {
  @include customflex(0,flex-start,0,0);
}
.flex-fsfs {
  @include customflex(0,flex-start,flex-start,0);
}


.section-heading {
  padding: 0 0 2rem 0;
}

.section-heading_center {
  @include customflex( column, center , center , wrap);
  padding: 0 0 2rem 0;
}
.section-button {
  padding: 2rem 0;
}

.section-button_center {
  @include customflex( column, center , center , wrap);
  padding: 2rem 0;
}

.section-left {
  padding: 0 4rem 2rem 0;
}

.section-right {
  padding: 0 0 2rem 4rem;
}

.padding-top {
  @include customflex( 0, 0, 0, 0 );
  margin-top:2rem;
}

.section-2col {
  width: 50%;
}
.section-2col:nth-child(2n+1){
  padding: .5rem .5rem .5rem 0rem;
}
.section-2col:nth-child(2n+2){
  padding: .5rem 0rem .5rem .5rem;
}


.section-3col {
  width: 33.333%;
}
.section-3col:nth-child(3n+1){
  padding: .5rem .5rem .5rem 0rem;
}
.section-3col:nth-child(3n+2){
  padding: .5rem .5rem .5rem .5rem;
}
.section-3col:nth-child(3n+3){
  padding: .5rem 0rem .5rem .5rem;
}

.section-4col {
  width: 25%;
}
.section-4col:nth-child(4n+1){
  padding: .5rem .5em .5rem 0rem;
}
.section-4col:nth-child(4n+2){
  padding: .5rem .5rem .5rem .5rem;
}
.section-4col:nth-child(4n+3){
  padding: .5rem .5rem .5rem .5rem;
}
.section-4col:nth-child(4n+4){
  padding: .5rem 0rem .5rem .5rem;
}


@media (min-width: breakpoint('xl')) { // 1600px

}

@media (max-width: breakpoint('xl')) { // 1200px

}

@media (max-width: breakpoint('lg')) { // 992px

  .section-3col {
    width: 50%;
  }
  .section-3col:nth-child(2n+1){
    padding: .5rem .5rem .5rem 0rem;
  }
  .section-3col:nth-child(2n+2){
    padding: .5rem 0rem .5rem .5rem;
  }

  .section-4col {
    width: 33.333%;
  }
  .section-4col:nth-child(3n+1){
    padding: .5rem .5rem .5rem 0rem;
  }
  .section-4col:nth-child(3n+2){
    padding: .5rem .5rem .5rem .5rem;
  }
  .section-4col:nth-child(3n+3){
    padding: .5rem 0rem .5rem .5rem;
  }

}

@media (max-width: breakpoint('md')) { // 768px

  .section-2col {
    width: 100%;
  }
  .section-2col:nth-child(2n+1){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-2col:nth-child(2n+2){
    padding: .5rem 0rem .5rem 0rem;
  }

  .section-3col {
    width: 100%;
  }
  .section-3col:nth-child(3n+1){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-3col:nth-child(3n+2){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-3col:nth-child(3n+3){
    padding: .5rem 0rem .5rem 0rem;
  }

  .section-4col {
    width: 50%;
  }
  .section-4col:nth-child(2n+1){
    padding: .5rem .5rem .5rem 0rem;
  }
  .section-4col:nth-child(2n+2){
    padding: .5rem 0rem .5rem .5rem;
  }

  .section-left {
    padding: 0 0 2rem 0;
  }
  .section-right {
    padding: 0 0 2rem 0;
  }


}

@media (max-width: breakpoint('sm')) { // 576px
  .section-4col {
    width: 100%;
  }
  .section-4col:nth-child(4n+1){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-4col:nth-child(4n+2){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-4col:nth-child(4n+3){
    padding: .5rem 0rem .5rem 0rem;
  }
  .section-4col:nth-child(4n+4){
    padding: .5rem 0rem .5rem 0rem;
  }
}
