.ly--contact-form {
  @include customflex(0, 0, center,0);
  position: relative;
  padding: 4rem 2rem 0;
  margin: 6rem 0;
  transition: $transition--enter__fast;
  .contact-form--container {
     @include customflex(0, 0,center,0);
     border-radius: 1rem;
     width: 100%;
     height: 100%;
    .card.form {
      transform: translateY(4rem);
      @include customflex(column, 0,center,0);
      border-radius: .5rem;
      box-shadow: $box-shadow--sticky-nav;
      padding: 3rem;
      width: 100%;
      max-width: 640px;
      transition: $transition--enter__normal;
      .ly--form-item {
        margin-bottom: 0;
      }
      .ly--btn {
        margin-bottom: 0;
      }
    }
  }
  .bg-primary {
    position: absolute;
    top:0;
    height: calc(100% - 8rem);
    width: 80%;
    max-width: 960px;
    border-radius: 1rem;
    @include linear-gradient($color-primary-dark,$color-primary);
    transition: $transition--enter__normal;
  }
  .bg-secondary {
    position: absolute;
    top:0;
    height: calc(100% - 8rem);
    width: 80%;
    max-width: 960px;
    border-radius: 1rem;
    @include linear-gradient($color-secondary-dark,$color-secondary);
    transition: $transition--enter__normal;
  }
  .bg-dark {
    position: absolute;
    top:0;
    height: calc(100% - 8rem);
    width: 80%;
    max-width: 960px;
    border-radius: 1rem;
    @include linear-gradient($color-black,$color-dark);
    transition: $transition--enter__normal;
  }
}

.ly--contact-form.animate {
  transition: $transition--exit__fast;
  .contact-form--container {
    .card.form {
      transform: translateY(0);
      box-shadow: $box-shadow--sticky-nav;
      transition: $transition--exit__normal;
    }
  }
  .bg-primary, .bg-secondary, .bg-dark {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    transition: $transition--exit__normal;
  }
}
