//-----------------------------
// Text area
//-----------------------------

@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/layer';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../form/form';

@include exports('text-area') {
  .ag--text-area {
    @include reset;
    @include body-text;
    @include typescale('p-sm');
    width: 100%;
    min-width: 10rem;
    padding: $spacing-md;
    color: $text-01;
    resize: vertical;
    background-color: $color-white;
    border: 1px solid $color-white-10;
    transition: $transition--default;

    &:hover {
      border: 1px solid $color-white-20;
      transition: $transition--default;
    }

    &:focus {
      border: 1px solid $color-grey;
      transition: $transition--default;
    }

    &::-webkit-input-placeholder {
      // @include placeholder-colors;
      color: $color-grey;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: $input-border;
    }
  }

  .about-us-form .ag--text-area {
    @include reset;
    @include body-text;
    @include typescale('p-sm');
    width: 100%;
    min-width: 10rem;
    padding: $spacing-md;
    color: $text-01;
    resize: vertical;
    background-color: $color-white;
    border: 1px solid $color-white;
    @include layer(overlay);
    transition: $transition--default;

    &:focus {
      border: 1px solid $color-white-20;
      @include layer(temporary-nav);
      transition: $transition--default;
    }
    
    &:hover {
      @include layer(temporary-nav);
      transition: $transition--default;
    }

    &::-webkit-input-placeholder {
      // @include placeholder-colors;
      color: $color-grey;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:disabled:hover {
      border: $input-border;
    }
  }

}
