@import '../../globals/scss/vars';
@import '../../globals/scss/colors';
@import '../../globals/scss/typography';
@import '../../globals/scss/spacing';
@import '../../globals/scss/css--reset';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--typography';
@import '../button/button';
@import '../form/form';
@import '../loading/loading';

@include exports('file-uploader') {
  .#{$prefix}--file {
    // width: 100%;
    width: 50%;
  }
  .#{$prefix}--file:nth-child(1) {
    // width: 100%;
    padding-right: 1rem;
    width: 50%;
  }
  .#{$prefix}--file-split {
    @include customflex(0,0,0,0);
  }

  .#{$prefix}--file-input {
    @include hidden;
  }

  .#{$prefix}--file-btn {
    background-color: transparent;
    border: 1px solid $color-secondary-dark;
    color: $color-secondary-dark;
    display: inline-flex;
    margin: 0;
    transition: $transition--default;
    &:hover {
      background-color: $color-secondary-dark;
      border: 1px solid $color-secondary-dark;
      color: $color-white;
      transition: $transition--default;
    }
  }

  .#{$prefix}--label-description {
    @include reset;
    @include typescale('zeta');
    @include line-height('body');
    color: $text-02;
    margin-bottom: $spacing-lg;
  }

  .#{$prefix}--file-container {
    display: block;
    width: 100%;
    margin-top: $spacing-lg;
  }
  .#{$prefix}--file__selected-file {
    // @include text-overflow(300px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(30px);
    background-color: rgba($color-primary, .2);
    padding: 0 $spacing-md;
    margin-bottom: $spacing-md;
    opacity: 1;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .#{$prefix}--file__selected-file:nth-child(1) {
    background-color: rgba($color-secondary-dark, .1);
  }
  .#{$prefix}--file__selected-file:nth-child(2) {
      opacity: 1;
  }
  .#{$prefix}--file__selected-file:nth-child(3) {
      opacity: .2;
  }
  .#{$prefix}--file__selected-file:nth-child(n+4){
      display: none;
  }



  .#{$prefix}--file-filename {
    @include typescale('omega');
    @include text-overflow(100%);
    display: inline-flex;
    align-items: center;
    color: $color-dark;
    margin-right: $spacing-md;
    height: 1.875rem;
  }

  .#{$prefix}--file__state-container {
    display: flex;
    align-items: center;

    .#{$prefix}--loading {
      width: 1.125rem;
      height: 1.125rem;
      margin-right: $spacing-xs;
    }

    .#{$prefix}--loading__svg {
      stroke: $color-white-20;
    }
  }

  .#{$prefix}--file__state-container .#{$prefix}--file-close,
  .#{$prefix}--file__state-container .#{$prefix}--file-complete {
    width: 1rem;
    height: 1rem;
    fill: $text-01;
    cursor: pointer;

    &:focus {
      @include focus-outline('border');
    }
  }

  .#{$prefix}--file__state-container .#{$prefix}--file-close {
    fill: $color-white-20;
  }

  .#{$prefix}--file__state-container .#{$prefix}--file-complete {
    fill: $support-success;
  }
}
