.hero {
  @include customflex( 0, center, flex-start, 0)
  min-height: rem(448px);
  max-height: 100vh;
  @include linear-gradient($color-white-05, $color-white);
  border-bottom: 1px solid $color-white-10;
  .bx--row {
    @include customflex( 0, center, flex-start, 0)
    width: 100%;
    height: 100%;

    .hero-container {

      .hero-subheading{
      }
      .hero-heading {

      }
      .hero-paragraph {

      }
    }
    .hero-image {
      position: absolute;
      right: 0px;
      max-height: 50%;
    }
    .hero--image-container {
      @include customflex(0,center,center,0);
      background-color: $color-white;
      border: 1px solid $color-white-10;
      border-radius: .25rem;
      height: rem(192px);
      width: rem(192px);
      margin-right: 2rem;
      @include layer(raised);
      img {
        height: rem(128px);
        width: rem(128px);
      }
    }

  }
}

.hero.services {

  .bx--row {
    @include customflex( 0, center, center, 0)

    .hero-container {
      @include customflex( 0, center, flex-start, 0)

      .hero--text-container {
        .hero-subheading{
          color: $color-primary;
        }
        .hero-heading {
          margin: $spacing-2xs 0 $spacing-md 0;
        }
        .hero-paragraph {

        }
      }

    .hero--image-container {
      @include customflex(0,center,center,0);
      background-color: $color-white;
      border: 1px solid $color-white-10;
      border-radius: .25rem;
      height: rem(192px);
      width: rem(192px);
      margin-right: 2rem;
      margin-bottom: 0;
      @include layer(raised);
      img {
        height: rem(128px);
        width: rem(128px);
      }
    }
    }
  }
}

.hero.about-us {
  @include customflex( 0, flex-end, flex-start, 0)
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 5.5rem);
  .bx--row {
    @include customflex( 0, flex-end, flex-start, 0)
    .hero-container {
      .hero-subheading{
        color: $color-white-10;
      }
      .hero-heading {
        color: $color-white;
        margin-bottom: 4rem;
      }
    }
  }
}

.hero.hero__bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__sm {
  @include customflex( 0, center, flex-start, 0)
  background: $color-white-03;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: rem(256px);
  max-height: 100vh;
  width: 100vw;
  border-bottom: 1px solid $color-white-10;
  padding: 5rem 0 2rem 0;
  position: relative;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-white, .8);
    z-index: 1;

  }
  .bx--row {
    @include customflex( 0, center, center, 0)
    width: 100%;
    height: 100%;
    z-index: 2;

    .hero-container {

      .hero-subheading{
        text-align: center;
        color: $color-primary;
      }
      .hero-heading {
        text-align: center;
        margin: $spacing-2xs 0 $spacing-md 0;
      }
    }
    .hero-image {
      position: absolute;
      right: 0px;
      max-height: 50%;
    }
  }
}

@media (max-width: breakpoint('lg') ) {
  .hero-heading {
    font-size: 2.25rem;
  }

  .hero.services {

    .bx--row {
      @include customflex( 0, center, center, 0)

      .hero-container {
        @include customflex( column, flex-start, center, 0)

        .hero--text-container {
          .hero-subheading{
            color: $color-primary;
          }
          .hero-heading {
            margin: $spacing-2xs 0 $spacing-md 0;
          }
          .hero-paragraph {

          }
        }

      .hero--image-container {
        display: none;
        @include customflex(0,center,center,0);
        background-color: $color-white;
        border: 1px solid $color-white-10;
        border-radius: .25rem;
        height: 4rem;
        width: 4rem;
        margin-right: 0;
        margin-bottom: 1rem;
        @include layer(raised);
        img {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
      }
    }
  }


}

@media (max-width: breakpoint('md') ) {
  .hero-heading {
    font-size: 2.25rem;
  }
}

@media (max-width: breakpoint('sm') ) {
  .hero-heading {
    font-size: 2.25rem;
  }
}
