  .ly--tag {
    @include body-text;
    font-weight: 500;
    @include typescale('p-xs');
    display: inline-flex;
    align-items: center;
    padding: 0 $spacing-xs;
    height: 1.25rem;
    margin: .25rem;
    margin-left: 0;
    border-radius: rem(4px);

    &:not(:first-child) {
      margin-left: 0;
    }
  }

  .ly--tag--seo {
    @include tag-theme($color-blue, $color-blue-darker);
  }

  .ly--tag--digital-design {
    @include tag-theme($color-aqua, $color-aqua-darker);
  }

  .ly--tag--digital-marknadsforing {
    @include tag-theme($color-teal, $color-teal-darker);
  }

  .ly--tag--karriar {
    @include tag-theme($color-secondary, $color-secondary-darker);
  }

  .ly--tag--ux {
    @include tag-theme($color-yellow, $color-yellow-darker);
  }

  .ly--tag--whitepaper {
    @include tag-theme($color-orange, $color-orange-darker);
  }

  .ly--tag--kundcase {
    @include tag-theme($color-red, $color-red-darker);
  }

  .ly--tag--digital-tillvaxt {
    @include tag-theme($color-primary, $color-primary-darker);
  }

  .ly--tag--ebook {
    @include tag-theme($color-pink, $color-pink-darker);
  }

  .ly--tag--big-data {
    @include tag-theme($color-magenta, $color-magenta-darker);
  }

  .ly--tag--research {
    @include tag-theme($color-purple, $color-purple-darker);
  }
