
  .ly--list--nested,
  .ly--list--unordered,
  .ly--list--ordered {
    @include reset;
    @include body-text;
    @include typescale('p-sm');
    @include font-smoothing;
    margin-left: $spacing-xl;
    line-height: 1.5;
  }

  .ly--list--unordered,
  .ly--list--ordered {
    padding: $spacing-md;
  }

  .ly--list__item {
    font-weight: 600;
    padding-left: $spacing-2xs;
  }

  .ly--list--unordered > .ly--list__item {
    list-style-type: disc;
  }

  .ly--list--ordered > .ly--list__item {
    list-style-type: decimal;
  }

  .ly--list--nested {
    margin-left: $spacing-xs;
  }

  .ly--list--nested > .ly--list__item {
    list-style-type: none;
    font-weight: 400;
  }

  .ly--list--nested > .ly--list__item:before {
    content: '-';
    padding-right: $spacing-2xs;
  }
