.grid.section-content__outer.services {
  background-color: $color-white-03;
  .row {
    @include flex(0,0,flex-start,0);

    .section-content.services {
      margin: 4rem 0 0 0;
      max-width: 640px;
      width: 100%;
      position: relative;

    }
  }
}

.grid.section-content__outer {
  background-color: $color-white-03;
  .row {
    @include flex(0,0,center,0);
    .section-content {
      margin: 4rem 0 0 0;
      width: 100%;
      max-width: 724px;
      position: relative;
      .component {

      }

      .ingress {
        margin-bottom: 2rem;
        p {
          font-size: 1.5rem;
        }
      }

      .h2-section {
        margin-bottom: 2rem;
        h2 {
          margin-bottom: 1rem;
        }
        p {

        }
      }

      .h3-section {
        margin-bottom: 2rem;
        h3 {
          margin-bottom: .5rem;
        }
        p {

        }
      }

      .h4-section {
        margin-bottom: 2rem;
        h4 {
          margin-bottom: .5rem;
        }
        p {

        }
      }

      .h5-section {
        margin-bottom: 2rem;
        h5 {
          margin-bottom: .5rem;
        }
        p {

        }
      }

      ul {
        li {
          position: relative;
          padding-left: 2.25rem;
          &:before {
            content: '';
            position: absolute;
            left: .25rem;
            top: .625rem;
            width: .375rem;
            height: .375rem;
            margin: auto 0;
            background-color: $color-grey;
          }
        }
      }

      ol {
        list-style: decimal;
        margin-left: 1.25rem;
        li {
          padding-left: 1rem;

        }
      }

      .component--image {
        @include flex(column,0,center,0);
        margin:2rem 0;
        .image {
          width: 100%;
          height: auto;
          border: 1px solid $color-white-10;
          @include layer(raised);
        }
        .image--caption {
          margin-top: 1rem;
          border-left: 4px solid $color-primary;
          padding-left: .5rem;
          color: $color-dark;
        }
      }
      .component--quote {
        padding: 1rem;
        position: relative;
        margin: 2rem 0;
        &:after {
          content: '';
          height: 100%;
          width: .125rem;
          background-color: $color-primary;
          position: absolute;
          left:0;
          top:0;
        }
        .quote__text {
          font-size: rem(18px);
          color: $color-dark;
          line-height: rem(27px);
          margin-bottom: .5rem;
        }
        .quote__author {
          font-size: rem(14px);
          color: $color-primary;
          line-height: rem(21px);

        }
      }

      .bullet-list__heading {
        margin:1rem 0;
      }

      .component--bullet-list {
        margin-bottom: 2rem;

        .component--bullet-list__item {
          @include flex(column, flex-start, center, 0);
          position: relative;
          margin: 1rem 0;
          border-left: .25rem solid $color-grey;
          padding: 1rem;
          background-color: $color-white;
          @include layer(raised);
          .component--bullet-list__subheading {
            margin-bottom:.25rem;
          }
          p {
            font-size: 1rem;
          }
          &:before {
            display: none;
          }
        }
        .component--bullet-list__item.plus {
          border-left: .25rem solid $color-secondary-dark;
          &:before {
            content: '+';
            position: absolute;
            left: -1.5rem;
            color: $color-secondary-dark;
            font-size: 20px;
          }
        }
        .component--bullet-list__item.minus {
          border-left: .25rem solid $color-primary-dark;
          &:before {
            content: '-';
            position: absolute;
            left: -1.5rem;
            color: $color-primary-dark;
            font-size: 20px;
            line-height: 40px;
          }
        }
      }

      .bullet-list__heading, .ordered-list__heading {
        margin:1rem 0 1.5rem 0;
      }

      .component--ordered-list {
        margin-bottom: 2rem;

        .component--ordered-list__item {
          @include flex(column, flex-start, center, 0);
          position: relative;
          margin: 1rem 0;
          border-left: .25rem solid $color-grey;
          padding: 1rem;
          background-color: $color-white;
          @include layer(raised);
          .component--ordered-list__number {
            position: absolute;
            left:-1.5rem;
          }
          .component--ordered-list__subheading {
            margin-bottom:.25rem;
          }
          p {
            font-size: 1rem;
          }
          &:before {
            display: none;
          }
        }

      }

      .ly--accordion {
        margin-bottom: 2rem;
      }

      form {
        margin-bottom: 2rem;
      }
      .contact-form {
        .contact-form--col {
          padding: 0;
          margin-bottom: 1rem;
          .contact-form--col__heading, .contact-form--col__paragraph {
            margin-bottom: .5rem;
          }
        }

      }

    }
  }
}
