.sticky-bar {
  @include flex(column,center,0,0);
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -464px;
  width: 3rem;
  height: 300px;
  z-index: z(footer);
  transition: opacity $duration--fast__enter $easing--enter;
  .sticky-bar--item {
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      &:after {
        display: none;
      }
      .sticky-btn {
        @include flex(0,center,center,0);
        background-color: transparent;
        height: 3rem;
        width: 3rem;
        border: 1px solid $color-grey;
        border-radius: 50%;
        transition: border $duration--fast__enter $easing--enter;
        svg {
          height: 1.5rem;
          width: 1.5rem;
          fill: $color-grey;
          transition: fill $duration--fast__enter $easing--enter;
        }

      }

      &:hover {
        .sticky-btn {
          border: 1px solid $color-white-20;
          transition: border $duration--fast__enter $easing--enter;
          svg {
            fill: $color-white-20;
            transition: fill $duration--fast__enter $easing--enter;
          }
        }
      }

    }

  }
}

.sticky-bar.hide {
  display: none;
}

.sticky-bar.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -464px;
  margin-top: -150px;
  opacity: 1;
  transition: opacity $duration--fast__enter $easing--enter;

}

.sticky-bar.fade {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -464px;
  margin-top: -150px;
  opacity: 0;
  transition: opacity $duration--fast__enter $easing--enter;
}
