.component.image {
  width: 100%;
  background-color: $color-white-03;

  .component--container {
    flex-direction: column;
    width: 100%;
    max-width: $maxwidth-text;
    border-radius: .25rem;
    overflow: hidden;
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
    .image__caption {
      position: relative;
      width: 100%;
      padding: .125rem 0;
      margin: 0 0 0 .5rem;
      &:after {
        content: '';
        left: -.5rem;
        top: 0;
        position: absolute;
        background-color: $color-primary-dark;
        height: 100%;
        width: .125rem;
      }
    }
  }

}
