//-----------------------------
// Link
//-----------------------------

@import '../../globals/scss/colors';
@import '../../globals/scss/vars';
@import '../../globals/scss/layout';
@import '../../globals/scss/typography';
@import '../../globals/scss/helper-mixins';
@import '../../globals/scss/import-once';
@import '../../globals/scss/css--reset';

@include exports('link') {
  .section-content .no-link {
    &:after {
      display: none;
    }
  }
  .section-content a,
  .#{$prefix}--link {
    position: relative;
    @include reset;
    @include pt-serif;
    // @include typescale('zeta');
    @include font-smoothing;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    color: $color-primary;
    align-self: flex-start;
    transition: $transition--base;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-white-20;
    }

    &:visited {
      color: $color-primary;
    }

    &:active,
    &:hover,
    &:focus {
      position: relative;
      transition: $transition--base;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-primary;
      }

    }

    &:focus {
      @include focus-outline('border');
    }

    &[aria-disabled="true"] {
      opacity: .5;
      pointer-events: none;
    }
  }

  .#{$prefix}--link__secondary {
    position: relative;
    @include reset;
    @include pt-serif;
    @include typescale('zeta');
    @include font-smoothing;
    font-weight: 400;
    color: $color-secondary-dark;
    text-decoration: none;
    border-bottom: 1px solid $color-white-20;
    padding: 1px 0;
    transition: $transition--base;

    &:visited {
      color: $color-secondary-dark;
    }

    &:active,
    &:hover,
    &:focus {
      position: relative;
      color: $color-secondary-dark;
      border-bottom: 1px solid $color-secondary-dark;
      transition: $transition--base;
    }

    &:focus {
      outline: 1px solid $color-secondary-dark;
    }

    &[aria-disabled="true"] {
      opacity: .5;
      pointer-events: none;
    }
  }
  .#{$prefix}--link__white {
    position: relative;
    @include reset;
    @include pt-serif;
    @include typescale('zeta');
    @include font-smoothing;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
    border-bottom: 1px solid $color-white-20;
    padding: 1px 0;
    transition: $transition--base;

    &:visited {
      color: $color-white;
    }

    &:active,
    &:hover,
    &:focus {
      position: relative;
      color: $color-white;
      border-bottom: 1px solid $color-white;
      transition: $transition--base;
    }

    &:focus {
      @include focus-outline('border');
    }

    &[aria-disabled="true"] {
      opacity: .5;
      pointer-events: none;
    }
  }
}
